*

!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.osx
!.plan
!.project
!.screenrc
!.tmux.conf
!.vimrc
!.tm_properties
!.timed
!.matplotlib/matplotlibrc
!.config/fish/config.fish
!.config/fish/completions
!.config/fish/completions/*
!.slate
!.gemrc
!.gdbinit
!.valgrindrc
!.sqliterc
!.ipython/profile_default/static/custom/custom.js
!.ipython/profile_default/startup/clip.py
!.ipython/profile_default/ipython_config.py
!.ipython/extensions/*.py
.config/fish/fishd.*
.config/fish/fish_history

#!.ssh
#.ssh/*
#!.ssh/config
