[apply]
	whitespace = fix
[user]
	name = Severin Smith
	email = info@smallbutdigital.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[alias]
	ci = commit
	co = checkout
	st = status
	lg = log --oneline --decorate
[github]
	user = sparks
[gist]
	browse = yes
	private = no
