[apply]
	whitespace = fix
[user]
	name = Severin Smith
	email = severin@smallbutdigital.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[alias]
	br = branch
	brm = branch -a --merged
	ci = commit
	co = checkout
	st = status --short
	lg = log --oneline --decorate --graph
	lga = log --oneline --decorate --graph --all
	unadd = reset HEAD
	pushup = "!f() { remote=${1:-origin}; git push --set-upstream $remote \"$(git rev-parse --abbrev-ref HEAD)\"; }; f"
[github]
	user = sparks
[gist]
	browse = yes
	private = no
[merge]
	tool = opendiff
[push]
	default = matching
	#default = simple
[core]
	editor = /usr/bin/vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
