[apply]
	whitespace = fix
[user]
	name = Severin Smith
	email = info@smallbutdigital.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[alias]
	ci = commit
	co = checkout
	st = status --short
	lg = log --oneline --decorate
	unadd = reset HEAD
[github]
	user = sparks
[gist]
	browse = yes
	private = no
[merge]
	tool = opendiff
[push]
	default = matching
#	default = simple