*

!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.osx
!.plan
!.project
!.screenrc
!.tmux.conf
!.vimrc
!.tm_properties
!.timed
!.config
!.config/fish
!.config/fish/*
!.config/fish/completions
!.config/fish/completions/*
.config/fish/fishd.*
.config/fish/fish_history

#!.ssh
#.ssh/*
#!.ssh/config
